.App {
  text-align: center;
}

.App-header {
  background-color: #202026;
  height: auto;
  min-height: 210px;
  padding: 20px;
  color: white;
}

.App-title {
  margin-top: 0;
  font-size: 1.5em;
}

div#events-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  width: calc(100% - 30px);
}

* {
  font-family: 'OpenSans-Regular', Fallback, sans-serif;;
}
