section.event-container {
  max-width: 1240px;
  padding: 10px;
  margin: 10px auto;
  width: auto;
  display: flex;
  box-shadow: 0 0 15px #A9A9A9;
  border-radius: 3px;
}

/* Event Date */

section.event-container > div.event-date {
  width: 8%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-transform: uppercase;
}

section.event-container > div.event-date > span:nth-child(2n + 1) {
  font-size: 24px;
}

section.event-container > div.event-date > span:nth-child(2) {
  font-size: 48px;
}

@media only screen and (max-width: 850px) {
  section.event-container > div.event-date {
    display: none;
  }
}


/*  Event Thumbnail */

section.event-container > div.event-thumbnail  {
  width: 12%;
  min-width: 120px;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
}

section.event-container > div.event-thumbnail > div > img  {
  width:  100%;
}

/*  Event Information */

section.event-container > div.event-information {
  width: 80%;
  padding: 5px 10px;
}

/*  Event Description */

section.event-container > div.event-information > div.event-description {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 5px;
}

section.event-container > div.event-information > div.event-description > span:first-child {
  font-size: 12px;
  display: none;
}

@media only screen and (max-width: 850px) {
  section.event-container > div.event-information > div.event-description > span:first-child {
    display: inline-block;
  }
}
section.event-container > div.event-information > div.event-description > span:nth-child(2) {
  font-size: 24px;
  transition: all .5s;
  text-transform: uppercase;
}

@media only screen and (max-width: 850px) {
  section.event-container > div.event-information > div.event-description > span:nth-child(2) {
    font-size: 16px;
  }
}

section.event-container > div.event-information > div.event-description > span:nth-child(3) {
  color: #f37320;
}

section.event-container > div.event-information > div.event-description > span:nth-child(4) {
  font-size: 12px;
  line-height: 20px;
}

section.event-container > div.event-information > div.event-more {
  display: flex;
}

section.event-container > div.event-information > div.event-more > div {
  width: 50%;
}

section.event-container > div.event-information > div.event-more > div.event-times {
  font-size: 12px;
  display: flex;
  flex-direction: column-reverse;
  text-align: left;
}

section.event-container > div.event-information > div.event-more > div.event-times i {
  margin-right: 3px;
}

section.event-container > div.event-information > div.event-more > div.event-links {
  display: flex;
  justify-content: flex-end;
}

section.event-container > div.event-information > div.event-more > div.event-links > div {
  border: 2px solid #f37320;
  border-radius: 3px;
  height: fit-content;
  margin-left: 20px;
  transition: all .3s ease-in-out;
}

section.event-container > div.event-information > div.event-more > div.event-links a {
  padding: 5px 15px;
  font-size: 14px;
  text-decoration: none;
  display: block;
  text-transform: uppercase;
  color: inherit;
}

section.event-container > div.event-information > div.event-more > div.event-links > div:first-child {
  color: #f37320;
}

@media only screen and (max-width: 850px) {
  section.event-container > div.event-information > div.event-more > div.event-links > div:first-child {
    display: none;
  }
}

section.event-container > div.event-information > div.event-more > div.event-links > div:last-child {
  background: #f37320;
  color: white;
}

section.event-container > div.event-information > div.event-more > div.event-links > div:hover {
  background-color: #202026;
  border: 2px solid #202026;
  color:white;
}
