@font-face {
  font-family: 'OpenSans-Bold';
  src: url('../fonts/opensans_bold/OpenSans-Bold-webfont.eot');
  src: url('../fonts/opensans_bold/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/opensans_bold/OpenSans-Bold-webfont.woff') format('woff'),
       url('../fonts/opensans_bold/OpenSans-Bold-webfont.ttf') format('truetype'),
       url('../fonts/opensans_bold/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-BoldItalic';
  src: url('../fonts/opensans_bolditalic/OpenSans-BoldItalic-webfont.eot');
  src: url('../fonts/opensans_bolditalic/OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/opensans_bolditalic/OpenSans-BoldItalic-webfont.woff') format('woff'),
       url('../fonts/opensans_bolditalic/OpenSans-BoldItalic-webfont.ttf') format('truetype'),
       url('../fonts/opensans_bolditalic/OpenSans-BoldItalic-webfont.svg#open_sansbold_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-ExtraBold';
  src: url('../fonts/opensans_extrabold/OpenSans-ExtraBold-webfont.eot');
  src: url('../fonts/opensans_extrabold/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/opensans_extrabold/OpenSans-ExtraBold-webfont.woff') format('woff'),
       url('../fonts/opensans_extrabold/OpenSans-ExtraBold-webfont.ttf') format('truetype'),
       url('../fonts/opensans_extrabold/OpenSans-ExtraBold-webfont.svg#open_sansextrabold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-ExtraBoldItalic';
  src: url('../fonts/opensans_extrabolditalic/OpenSans-ExtraBoldItalic-webfont.eot');
  src: url('../fonts/opensans_extrabolditalic/OpenSans-ExtraBoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/opensans_extrabolditalic/OpenSans-ExtraBoldItalic-webfont.woff') format('woff'),
       url('../fonts/opensans_extrabolditalic/OpenSans-ExtraBoldItalic-webfont.ttf') format('truetype'),
       url('../fonts/opensans_extrabolditalic/OpenSans-ExtraBoldItalic-webfont.svg#open_sansextrabold_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Italic';
  src: url('../fonts/opensans_italic/OpenSans-Italic-webfont.eot');
  src: url('../fonts/opensans_italic/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/opensans_italic/OpenSans-Italic-webfont.woff') format('woff'),
       url('../fonts/opensans_italic/OpenSans-Italic-webfont.ttf') format('truetype'),
       url('../fonts/opensans_italic/OpenSans-Italic-webfont.svg#open_sansitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Light';
  src: url('../fonts/opensans_light/OpenSans-Light-webfont.eot');
  src: url('../fonts/opensans_light/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/opensans_light/OpenSans-Light-webfont.woff') format('woff'),
       url('../fonts/opensans_light/OpenSans-Light-webfont.ttf') format('truetype'),
       url('../fonts/opensans_light/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url('../fonts/opensans_regular/OpenSans-Regular-webfont.eot');
  src: url('../fonts/opensans_regular/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/opensans_regular/OpenSans-Regular-webfont.woff') format('woff'),
       url('../fonts/opensans_regular/OpenSans-Regular-webfont.ttf') format('truetype'),
       url('../fonts/opensans_regular/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Semibold';
  src: url('../fonts/opensans_semibold/OpenSans-Semibold-webfont.eot');
  src: url('../fonts/opensans_semibold/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/opensans_semibold/OpenSans-Semibold-webfont.woff') format('woff'),
       url('../fonts/opensans_semibold/OpenSans-Semibold-webfont.ttf') format('truetype'),
       url('../fonts/opensans_semibold/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'OpenSans-SemiboldItalic';
    src: url('../fonts/opensans_semibolditalic/OpenSans-SemiboldItalic-webfont.eot');
    src: url('../fonts/opensans_semibolditalic/OpenSans-SemiboldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans_semibolditalic/OpenSans-SemiboldItalic-webfont.woff') format('woff'),
         url('../fonts/opensans_semibolditalic/OpenSans-SemiboldItalic-webfont.ttf') format('truetype'),
         url('../fonts/opensans_semibolditalic/OpenSans-SemiboldItalic-webfont.svg#open_sanssemibold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
